@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Chivo";
    src: url("../public/fonts/Chivo/Chivo-Italic-VariableFont_wght.ttf");
}

body{
    font-family: Chivo;
}